.container {
    margin-bottom: 4rem;
}

.container_shadow {
    box-shadow: 0px 0rem 1rem 2px rgba(0, 0, 0, 0.15) !important;
}

.side_img_wrapper {
    height: 16vh;
    display: flex;
    overflow-x: auto;
}
.side_img_wrapper::-webkit-scrollbar {
    height: 10px;
}

.side_img_wrapper::-webkit-scrollbar {
    width: 10px;
}

.side_img_wrapper::-webkit-scrollbar-track {
    background: #e7e8e9;
}

.side_img_wrapper::-webkit-scrollbar-thumb {
    background-color: #a3c1ee;
    border-radius: 20px;
    border: 2px solid #e0e1e2;
}

.side_img {
    flex: 0 0 13vh;
}

.product_img {
    max-width: 100%;
    height: 20rem;
    object-fit: contain;
}

.list_img {
    max-width: 100%;
    height: 5rem;
    object-fit: contain;
}

.rating_text {
    font-size: 0.75rem;
}

.price_text {
    font-size: 1.20rem;
}

.price_text_discount {
    font-size: 1rem;
}

.tooltip_button {
    outline: none;
    border: none;
    background-color: transparent;
}

.tooltip {
    font-size: 5px;
}


.nav-pills .custom_pill .nav-link:not(.active) {
    background-color: #cfe2ff;
    color: rgb(44, 44, 44);
}

.nav-pills .custom_pill .nav-link {
    background-color: #0d6efd;
    color: white;
}

.titels > p {
    color: #8794aa;
}

.brand_name > h5 > span {
    background-color: #cfe2ff;
    color: rgb(40 114 169);
    cursor: pointer;
}

.buy_card_text {
    font-size: 1.20rem;
}

.highlights {
    max-height: 6rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.highlights::-webkit-scrollbar {
    height: 8px;
}
.highlights::-webkit-scrollbar {
    width: 8px;
}

.highlights::-webkit-scrollbar-track {
    background: #e7e8e9;
}

.highlights::-webkit-scrollbar-thumb {
    background-color: #a3c1ee;
    border-radius: 20px;
    border: 2px solid #e0e1e2;
}

.highlights > ul > li::marker {
    color: #8ca6cc;
}

.highlights > ul > li {
    font-size: 0.85rem;
    color: #696e77;
}

.pin_check::-webkit-inner-spin-button,.pin_check::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.deliverable_text {
    color: #198754;
    font-size: 0.90rem;
}

.not_deliverable_text {
    color: #dc3545;
    font-size: 0.90rem;
}

.delivery_checking_button {
    font-size: 0.90rem;
}